h1 List of pages created:
hr
ul
  li
    a(href="login.html") Login Page
hr
ul
  li
    a(href="terms_dentist.html") Terms Page (Dentist)  
  li
    a(href="resources_dentist.html") Resources Page (Dentist)  
  li
    a(href="profile_dentist.html") Profile Page (Dentist)  
  li
    a(href="cases_dentist.html") Cases Page (Dentist)  
  li
    a(href="case_dentist.html") Case Page (Dentist) 
hr
ul 
  li
    a(href="terms_orthodontist.html") Terms Page (Orthodontist)
  li
    a(href="resources_orthodontist.html") Resources Page (Orthodontist)
  li
    a(href="profile_orthodontist.html") Profile Page (Orthodontist)
  li
    a(href="cases_orthodontist.html") Cases Page (Orthodontist)
  li
    a(href="case_orthodontist.html") Case Page (Orthodontist)
      
