extends ../_layouts/default

block title
	title My Profile - Orthodontist
	
block vars
	- var bodyClass = 'profile-orthodontist';
	
block content
	include ../_partials/orthodontist/profile_orthodontist
