extends ../_layouts/default

block title
	title Terms and Conditions - Orthodontist
	
block vars
	- var bodyClass = 'terms-orthodontist';
	
block content
	include ../_partials/orthodontist/terms_conditions
