// Declaration of HTML, BODY
html, body {
  font-size: 100%;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Pushy styles
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

// Declaration of Container
.container {
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

// BODY declaration
body {
  background: $grey-light;
}

/*
Table of Contents:
1. Login Page
2. Profile Page - DENTIST
3. Profile Page - ORTHODONTIST
4. Cases Page - DENTIST
5. Cases Page - ORTHODONTIST
6. Navigation
7. Case Page
*/

// 1. Login Page
.home {
  .columns {
    @include make-sm-column(6);
    @include make-sm-column-offset(3);
    @include make-md-column(4);
    @include make-md-column-offset(4);
  }
  main {
    @media #{$mobile__up} {
      // --- Align this box vertically centered
      // --- Source: https://css-tricks.com/centering-css-complete-guide/
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      // --- Align this box vertically centered
    }
  }
  footer {
    @media #{$mobile__up} {
      // --- Align this box vertically centered
      // --- Source: https://css-tricks.com/centering-css-complete-guide/
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translate(-50%, -50%);
      // --- Align this box vertically centered
    }
  }
}

// 2. Profile Page - DENTIST
.profile {
  .page-title {
    @include make-sm-column(12);
  }
  .site-main {
    @include make-sm-column(12);
  }
  .site-footer {
    @include make-sm-column(12);
  }
  .first_column {
    @include make-sm-column(2);
  }
  .second_column {
    @include make-sm-column(10);
  }
  .full_column {
    @include make-sm-column(12);
  }
  #tab_personal {
    @include make-xs-column(12);
    @include make-sm-column(6);
  }
  #tab_practice {
    @include make-xs-column(12);
    @include make-sm-column(6);
  }
  #tab_invisalign {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-sm-column-offset(0);
  }
	@media #{$phablet} {
    .device-big {
  		display: none;
    }
    .device-small {
  		display: inline-block;
    }
	}
	@media #{$phablet__up} {
    .device-big,
    .tab-content > .tab-pane {
  		display: block;
    }
    .device-small {
  		display: none;
    }
		.tab-content > .tab-pane {
      display: block;
    }
	}
}

// 3. Profile Page - ORTHODONTIST
.profile-orthodontist {
  .page-title {
    @include make-sm-column(12);
  }
  .site-main {
    @include make-sm-column(12);
  }
  .site-footer {
    @include make-sm-column(12);
  }
  .first_column {
    @include make-sm-column(2);
  }
  .second_column {
    @include make-sm-column(5);
  }
  .third_column {
    @include make-sm-column(5);
  }
  .full_column {
    @include make-sm-column(12);
  }
}

// 4. Cases Page - DENTIST
.cases {
  .site-main {
    @include make-sm-column(8);
  }
  .site-widget {
    @include make-sm-column(4);
  }
  .site-footer {
    @include make-sm-column(12);
  }
  .cases_bar {
    .page-title {
      @extend .hidden-xs;
      @extend .hidden-sm;
      @include make-md-column(2);
    }
    form {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(10);
    }
    .new_cases {
      @include make-xs-column(2);
      @include make-sm-column(3);
      @include make-md-column(3);
    }
    .archived_cases {
      @include make-xs-column(12);
      @include make-sm-column(5);
      @include make-md-column(5);
      @extend .text-right;
    }
    .search_cases {
      @include make-xs-column(10);
      @include make-sm-column(4);
      @include make-md-column(4);
      @extend .pull-right;
    }
  }
}

// 5. Cases Page - ORTHODONTIST
.cases-orthodontist {
  .site-main {
    @include make-sm-column(8);
  }
  .site-widget {
    @include make-sm-column(4);
  }
  .site-footer {
    @include make-sm-column(12);
  }
  .cases_bar {
    .page-title {
      @extend .hidden-xs;
      @extend .hidden-sm;
      @include make-md-column(2);
    }
    form {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(10);
    }
    .new_cases {
      @include make-xs-column(2);
      @include make-sm-column(3);
      @include make-md-column(3);
    }
    .archived_cases {
      @include make-xs-column(12);
      @include make-sm-column(5);
      @include make-md-column(5);
      @extend .text-right;
    }
    .search_cases {
      @include make-xs-column(10);
      @include make-sm-column(4);
      @include make-md-column(4);
      @extend .pull-right;
    }
  }
}

// 6. Navigation
#primary_menu {
  .mobile {
    @extend .visible-xs;
  }
  .desktop {
    @extend .hidden-xs;
  }
}

// 7. Case Page
.case {
  .site-header {
    @include make-sm-column(12);
  }
  .site-main {
    @include make-sm-column(12);
  }
  .site-footer {
    @extend .hidden-xs;
    @include make-sm-column(12);
  }
  // Content
  .content {
    @include make-sm-column(9);
  }
  .orthodontist_notes {
    @include make-sm-column(6);
  }
  .your_notes {
    @include make-sm-column(6);
  }
  // Conversation tab
  .first_column {
    @include make-xs-column(3);
    @include make-sm-column(2);
    @include make-md-column(2);
    @include make-lg-column(2);
    figcaption {
      @extend .hidden-xs;
    }
  }
  .second_column {
    @include make-xs-column(9);
    @include make-sm-column(10);
    @include make-md-column(8);
    @include make-lg-column(7);
    label {
      @extend .hidden-xs;
    }
  }
  .third_column {
    @extend .hidden-xs;
    @include make-sm-column(10);
    @include make-sm-column-offset(2);
    @include make-md-column(12);
    @include make-lg-column(2);
    @include make-lg-column-offset(1);
  }
  .sc_first {
    @include make-sm-column(4);
  }
  .sc_second {
    @include make-sm-column(4);
  }
  .sc_third {
    @include make-sm-column(4);
  }
  .sc_fourth {
    @include make-sm-column(4);
  }
  .sc_fifth {
    @include make-sm-column(4);
  }
  .sc_sixth {
    @include make-sm-column(4);
  }
  .sc_second,
  .sc_third,
  .sc_fourth,
  .sc_fifth,
  .sc_sixth, {
    @extend .hidden-xs;
  }
  // Diagnosis tab
  .form_register_notes {
    .form-group {
      @include make-xs-column(6);
      @include make-sm-column(3);
    }
  }
  .orthodontist_notes,
  .your_notes {
    @extend .hidden-xs;
  }
  .notes_modals {
    @extend .visible-xs;
  }
  // Sidebar
  .sidebar {
    @extend .hidden-xs;
    @include make-sm-column(3);
  }
  .recent_ortho_set {
    @include make-sm-column(12);
  }
  .recent_panorex {
    @include make-sm-column(12);
  }
  .recent_lateral_cephalogram {
    @include make-sm-column(12);
  }
  .recent_full_mouth_series {
    @include make-sm-column(12);
  }
  // Gallery
  .gallery-row {
    @include make-row();
  }
  .gallery_ortho_set .gallery-item {
    @include make-xs-column(4);
  }
}
