@mixin modal_dentist_registration() {
  .modal-title {
    color: $color-primary;
    font-weight: $font-weight-regular;
  }
  .modal-body {
    div[class^="sc"] {
      display: block !important;
    }
    img {
      @extend .img-circle;
    }
    label {
      font-weight: $font-weight-regular;
    }
    .bootstrap-select {
      width: 100%;
      .dropdown-toggle {
        color: $grey-tone;
        font-weight: $font-weight-regular;
      }
    }
    .date {
      width: 100%;
    }
    .date input[type="text"] {
      width: 100%;
    }
    .date .input-group-addon {
      position: absolute;
      top: 0;
      right: 10px;
      border: none;
      background: none;
      line-height: 22px;
    }
  }
}

@mixin modal_orthodontist_registration() {
  .modal-title {
    color: $color-primary;
    font-weight: $font-weight-regular;
  }
  .modal-body {
    h1 {
      margin-top: 0;
      text-align: left;
      color: $color-primary;
      font-weight: $font-weight-regular;
    }
    img {
      @extend .img-circle;
      margin-bottom: $px_twenty;
    }
    .label_caption {
      font-weight: $font-weight-regular;
    }
    .label_data {
      font-weight: $font-weight-medium;
    }
    .form-group a {
      display: block;
      margin-bottom: $px_five;
    }
  }
}

@mixin modal_edit_media() {
  .modal-title {
    color: $color-primary;
    font-weight: $font-weight-regular;
  }
  .modal-body {
    .image-editor {
      .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 250px;
        height: 250px;
        cursor: move;
      }
      .cropit-image-background {
        opacity: .2;
        cursor: auto;
      }
      .image-size-label {
        margin-top: 10px;
      }
      input {
        display: block;
      }
      .export {
        margin-top: 10px;
      }
    }
    label {
      color: $color-primary;
      font-weight: $font-weight-medium;
    }
    .date {
      width: 100%;
    }
    .date input[type="text"] {
      width: 100%;
    }
    .date .input-group-addon {
      position: absolute;
      top: 0;
      right: 10px;
      border: none;
      background: none;
      line-height: 22px;
    }
  }
  .modal-footer {
    .btn-group {
      a {
        margin-left: $px_twenty;
        line-height: 1;
        @include font-size(16px);
        text-transform: uppercase;
      }
    }
    .btn_delete_media,
    .btn_cancel_media,
    .btn_print_media {
      @extend .btn_sec_light;
    }
  }
}

@mixin modal_uploadfiles() {
  .modal-dialog {
    padding-left: $px_fifteen;
    width: calc(100% - 30px) !important;
  }
  .modal-title {
    text-align: center;
    color: $color-primary;
    @include font-size(24px);
    font-weight: $font-weight-regular;
  }
  .modal-body {
    border: none;
    background: none;
    // background: $grey;
    margin: $px_fifteen;
    margin-bottom: 0;
    color: $color-primary;
    @include font-size(14px);
    // border: 1px solid $grey-dark;
    font-weight: $font-weight-bold;
    @include tab-styles();
    text-align: center;
    .nav-tabs {
      display: inline-block;
    }
    @media #{$desktop} {
      .nav-tabs li {
        margin-right: 5px;
      }
      .nav-tabs li a {
        @include font-size(11px);
      }
    }
  }
  .how_to {
    color: $grey-tone;
    word-spacing: 2px;
    letter-spacing: 1px;
    @include font-size(10px);
    text-transform: uppercase;
    margin: $px_twenty 0 $px_twenty;
    font-weight: $font-weight-regular;
  }
  .panel {
    box-shadow: none;
    border-color: $grey-dark;
    background-color: transparent;
    background-color: $silvery;
    text-align: center;
    margin:0 15px 30px 15px;
    display: inline-block;
    &.ortho_set__facial_profile,
    &.ortho_set__facial_front,
    &.ortho_set__facial_front_smiling {
      width: 130px;
      .panel-body,
      .cropit-preview {
        width: 127px;
        height: 150px;
      }
    }
    &.ortho_set__occlusal_upper,
    &.ortho_set__intra_oral_teeth_apart,
    &.ortho_set__occlusal_lower {
      width: 152px;
      .panel-body,
      .cropit-preview {
        width: 150px;
        height: 100px;
      }
    }
    &.ortho_set__intra_oral_right,
    &.ortho_set__intra_oral_center,
    &.ortho_set__intra_oral_left {
      width: 138px;
      .panel-body,
      .cropit-preview {
        width: 136px;
        height: 85px;
      }
    }
    &.ortho_set__panorex {
      width: 622px;
      .panel-body,
      .cropit-preview {
        width: 620px;
        height: 310px;
      }
    }
    &.ortho_set__lateral_Cephalogram {
      width: 502px;
      .panel-body,
      .cropit-preview {
        width: 500px;
        height: 500px;
      }
    }
    &.ortho_set__intra_oral_radiographs_xray_01,
    &.ortho_set__intra_oral_radiographs_xray_02,
    &.ortho_set__intra_oral_radiographs_xray_07,
    &.ortho_set__intra_oral_radiographs_xray_08,
    &.ortho_set__intra_oral_radiographs_xray_09,
    &.ortho_set__intra_oral_radiographs_xray_10,
    &.ortho_set__intra_oral_radiographs_xray_11,
    &.ortho_set__intra_oral_radiographs_xray_12,
    &.ortho_set__intra_oral_radiographs_xray_13,
    &.ortho_set__intra_oral_radiographs_xray_20 {
      margin:0 5px 0px 5px;
      width: 152px;
      .panel-body,
      .cropit-preview {
        width: 150px;
        height: 111px;
      }
    }
    &.ortho_set__intra_oral_radiographs_xray_10 {
      margin-right:444px;
    }
    &.ortho_set__intra_oral_radiographs_xray_03,
    &.ortho_set__intra_oral_radiographs_xray_04,
    &.ortho_set__intra_oral_radiographs_xray_05,
    &.ortho_set__intra_oral_radiographs_xray_06 {
      margin:0 5px 0px 5px;
      width: 96px;
      .panel-body,
      .cropit-preview {
        width: 94px;
        height: 152px;
      }
    }
    &.ortho_set__intra_oral_radiographs_xray_14,
    &.ortho_set__intra_oral_radiographs_xray_19 {
      margin:0 5px 0px 5px;
      width: 113px;
      .panel-body,
      .cropit-preview {
        width: 111px;
        height: 111px;
      }
    }
    &.ortho_set__intra_oral_radiographs_xray_15,
    &.ortho_set__intra_oral_radiographs_xray_16,
    &.ortho_set__intra_oral_radiographs_xray_17,
    &.ortho_set__intra_oral_radiographs_xray_18 {
      margin:0 5px 0px 5px;
      width: 96px;
      .panel-body,
      .cropit-preview {
        width: 94px;
        height: 112px;
      }
    }
    &.ortho_set__misc_01,
    &.ortho_set__misc_02,
    &.ortho_set__misc_03,
    &.ortho_set__misc_04,
    &.ortho_set__misc_05,
    &.ortho_set__misc_06 {
      margin:0 15px 15px 15px;
      width: 202px;
      .panel-body,
      .cropit-preview {
        width: 200px;
        height: 200px;
        background-size:45%;
      }
    }
    &.ortho_set__documents {
      width: 622px;
      .panel-body,
      .cropit-preview {
        width: 620px;
        height: 310px;
        background-size:15%;
      }
    }
  }
  .panel-heading {
    border-radius: 0;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
    color: $greyish-tone;
    @include font-size(11px);
    background-color: $silvery;
    font-weight: $font-weight-regular;
    .fa {
      margin-left: $px_five;
      color: $color-primary;
    }
  }
  .panel-body {
    background-color: $silvery;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    display: inline-block;
    padding:0;
    float: left;
  }
  .panel-footer {
    padding: 0;
    color: $grey-tone;
    @include clearfix();
    // overflow: hidden;
    // border: none;
    @include font-size(14px);
    border-top: 1px solid $grey-dark;
    font-weight: $font-weight-regular;
  }
  // Datepicker styles
  .date {
    width: 100%;
    * {
      border: none;
    }
  }
  .input-group-addon {
    position: absolute;
    z-index: 1;
    top: 0px;
    padding: 0px;
    right: $px_twenty;
    line-height: 34px;
    background-color: transparent;
  }
  // Well styles
  .well {
    color: $greyish-tone;
    border-radius: 0;
    box-shadow: none;
    min-height: 375px;
    margin-bottom: 0;
    @include font-size(11px);
    font-weight: $font-weight-regular;
    .fa {
      margin-left: 5px;
      color: $color-primary;
    }
  }
  .date_singular {
    @include clearfix();
    color: $grey-tone;
    font-weight: $font-weight-regular;
    > div {
      width: 200px;
      border-radius: 2px;
      @extend .pull-right;
      border: 1px solid $grey-dark;
      border-top: none;
    }
  }
  // Misc Photos
  #modal_misc_photos .row:first-of-type {
    margin-bottom: $px_twenty;
  }
  #modal_misc_photos .well {
    min-height: 200px;
  }
  // Intra Oral
  #modal_intra_oral .date {
    width: 100%;
    input {
      @include font-size(12px);
    }
  }
  #modal_intra_oral .row {
    margin-bottom: $px_fifteen;
  }
  #modal_intra_oral .mod_first_column .well,
  #modal_intra_oral .mod_third_column .well {
    min-height: 80px;
  }
  #modal_intra_oral .mod_second_column .well {
    min-height: 200px;
  }
  // Documents banner
  #modal_documents .well {
    background: url("../images/helper_documents.png") no-repeat $silvery;
    background-size: 96px 130px;
    background-position: center;
  }
  .modal-footer {
    padding: 0;
    margin: $px_thirty;
    margin-top: 0!important;
    @include clearfix();
    a {
      line-height: 1;
      @include font-size(16px);
      text-transform: uppercase;
      margin-left: 15px;
    }
  }
}

@mixin modal_disclaimer() {
  .modal-header {
    padding: $px_twentyfive $px_thirty 0;
  }
  .modal-title {
    line-height: 1;
    text-align: center;
    color: $color-primary;
    @include font-size(20px);
    text-transform: uppercase;
    font-weight: $font-weight-medium;
  }
  .modal-body {
    line-height: 1.25;
    background: $grey;
    color: $color-primary;
    @include font-size(12px);
    border: 1px solid $grey-dark;
    font-weight: $font-weight-medium;
    margin: $px_twenty $px_thirty 0;
    @media #{$phablet} {
      max-height: 300px;
      overflow-y: scroll;
    }
    @media #{$phablet__up} {
      max-height: 500px;
      overflow-y: scroll;
    }
  }
  .modal-footer {
    padding: 0;
    margin: $px_thirty;
    @include clearfix();
    a {
      line-height: 1;
      @include font-size(16px);
      text-transform: uppercase;
    }
  }
  #btn_agree {
    @extend .pull-right;
  }
  #btn_disagree {
    @extend .pull-left;
    @extend .btn_sec_light;
  }
}

@mixin modal_resetpassword() {
  .modal-header {
    position: relative;
    padding: 0;
    button {
      top: 15px;
      right: 15px;
      z-index: 1000;
      position: absolute;
    }
  }
  .modal-body {
    text-align: center;
    text-transform: none;
    padding: $px_thirty*1.5 0;
    p {
      color: $black;
      @include font-size(16px);
      font-weight: $font-weight-regular;
    }
    span {
      display: block;
      margin-top: $px_ten;
      color: $color-primary;
      @include font-size(14px);
      font-weight: $font-weight-regular;
    }
    span a {
      display: inline;
      font-weight: $font-weight-medium;
    }
  }
  #reset_email {
    min-width: 175px;
    border-radius: 23px;
    @include font-size(16px);
    font-weight: $font-weight-medium;
  }
}

@mixin modal_notes_overrides() {
  .moda-content {
    background-color: transparent;
  }
  .modal-header {
    padding: 0;
    height: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  .modal-body {
    padding: 0;
    > div {
      border: none;
      border-radius: 4px;
      overflow: hidden;
      height: auto;
      max-height: 100%;
    }
  }
  h3 {
    margin: 0 0 $px_ten;
    line-height: normal;
    padding-top: $px_thirty+$px_twenty;
    color: $grey-tone;
    @include font-size(14px);
    font-weight: $font-weight-medium;
  }
  p {
    line-height: normal;
    margin-bottom: 0;
    color: $grey-tone;
    @include font-size(12px);
    font-weight: $font-weight-regular;
  }
  .btn-group {
    line-height: 1;
    display: block;
  }
  .modal_toggle_yo_notes {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: inherit;
    a {
      display: inline-block;
      padding-top: $px_ten;
      margin-right: $px_fifteen;
      color: $green-dark;
      text-transform: uppercase;
      @include font-size(10px);
      font-weight: $font-weight-medium;
      &:hover {
        color: darken($green-dark, 5%);
      }
    }
  }
  .modal_toggle_od_notes {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: inherit;
    a {
      display: inline-block;
      padding-top: $px_ten;
      margin-right: $px_fifteen;
      color: $color-primary;
      text-transform: uppercase;
      @include font-size(10px);
      font-weight: $font-weight-medium;
      &:hover {
        color: darken($color-primary, 5%);
      }
    }
  }
  .labels {
    line-height: normal;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    @include font-size(12px);
    padding: $px_ten $px_fifteen;
    font-weight: $font-weight-medium;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .panel-group {
    margin: $px_fifteen -15px 0;
  }
  .fa {
    margin-right: $px_five;
  }
  .panel-heading {
    padding: $px_fifteen;
    border-color: $blueing;
    background-color: transparent;
  }
  .panel-title {
    line-height: normal;
    @include font-size(14px);
    font-weight: $font-weight-medium;
  }
  .panel-body {
    padding: 0 $px_fifteen $px_fifteen;
    line-height: normal;
    border: none !important;
    @include font-size(11px);
  }
}

@mixin modal_od() {
  .orthodontist_notes {
    display: block !important;
    .panel {
      box-shadow: none;
      border-radius: 0;
      background-color: transparent;
      border-bottom: 1px solid $blueing;
      border-top: none;
      border-left: none;
      border-right: none;
      margin-top: 0 !important;
      &:first-child {
        border-top: 1px solid $blueing;
      }
    }
  }
}

@mixin modal_yo() {
  .your_notes {
    display: block !important;
    .panel {
      box-shadow: none;
      border-radius: 0;
      background-color: transparent;
      border-bottom: 1px solid $green-dark;
      border-top: none;
      border-left: none;
      border-right: none;
      margin-top: 0 !important;
      &:first-child {
        border-top: 1px solid $green-dark;
      }
    }
    textarea {
      min-height: 60px;
    }
  }
}

@mixin modal_create_note {
  .modal-header {
    padding: 0;
    height: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  .modal-body {
    border-radius: 6px;
    background-color: $grey-light;
  }
  .site-widget {
    padding: 0;
    display: block !important;
    h2 {
      color: $grey-tone;
      line-height: 36px;
      @include font-size(18px);
      margin: 0 0 $px_fifteen;
      font-weight: $font-weight-regular;
    }
    form {
      text-align: right;
      textarea {
        @include input_text_color($silver-dark);
      }
      #btn_addnote {
        @include font-size(16px);
        text-transform: uppercase;
        margin: $px_ten 0 $px_thirty;
        font-weight: $font-weight-medium;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
    }
    .panel {
      background: none;
      box-shadow: none;
      border: 1px solid $silver-dark;
    }
    .panel-body {
      margin: 0;
      border: none;
      box-shadow: none;
      background: none;
      color: $grey-tone;
      @include font-size(12px);
      padding: $px_ten $px_ten 0;
      font-weight: $font-weight-regular;
      p {
        margin-bottom: 0;
      }
    }
    .panel-footer {
      @include clearfix();
      border: none;
      background: none;
      padding: $px_ten/2 $px_ten;
      .note_info {
        float: left;
        line-height: 20px;
        color: $color-primary;
        vertical-align: text-top;
        @include font-size(10px);
        font-weight: $font-weight-medium;
      }
      .delete_note {
        float: right;
        line-height: 20px;
        @include font-size(14px);
        vertical-align: text-top;
      }
    }
  }
}

@mixin fieldset_colored() {
  position: relative;
  border-radius: 2px;
  background: $grey-lightest;
  border: 1px solid $color-primary;
  padding: $px_thirty $px_fifteen $px_fifteen; //~ 30px 15px 15px
  legend {
    top: -12px;
    width: auto;
    padding: 2px 4px;
    position: absolute;
    background: $silver;
    color: $color-primary;
    display: inline-block;
    @include font-size(14px);
    font-weight: $font-weight-medium;
    @media #{$phablet} {
      @include font-size(12px);
    }
  }
  label {
    color: $grey-tone;
    font-weight: $font-weight-regular !important;
  }
  .form-group:last-child {
    margin-bottom: $px_thirty;
  }
}

@mixin pushy_overrides() {
  .pushy {
    background: $color-primary;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
    h1 {
      color: $grey-tone !important;
      @include font-size(24px);
      text-transform: uppercase;
      font-weight: $font-weight-medium;
      padding: $px_fifteen $px_thirty $px_ten;
    }
    a {
      @include font-size(14px);
      color: $white;
      border-top: 1px solid lighten($color-primary, 4%);
      border-bottom: 1px solid darken($color-primary, 4%);
    }
    a:hover {
      color: darken($white, 20%);
    }
    a:active {
      box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.2);
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    ul {
      margin: 0 !important;
      padding: 0;
      border-top: 1px solid darken($color-primary, 4%);
    }
    .active {
      border-left: 3px solid $white;
    }
    .active a {
      color: $white;
      box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.2);
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .active a:hover {
      color: darken($white, 20%);
    }
    @media #{$phablet} {
      h1 {
        @include font-size(20px);
      }
    }
  }
}

@mixin tab-styles() {
  .nav-tabs {
    border: none;
    list-style-type: none;
  }
  .nav-tabs li a {
    padding: 0;
    border: none;
    background: none;
    color: $grey-darkest;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    border-bottom: 3px solid transparent;
    @media #{$phablet} {
      @include font-size(12px);
    }
  }
  .nav-tabs li a:hover {
    color: $grey-darkest;
    border-bottom: 3px solid transparent;
  }
  .nav-tabs li a:focus {
    color: $grey-darkest;
    border-bottom: 3px solid transparent;
  }
  .nav-tabs li.active a {
    color: $brand-primary;
    font-weight: $font-weight-medium;
    border-bottom: 3px solid $color-primary;
  }
  .nav-tabs li.active a:hover {
    border: none;
    color: $color-primary;
    border-bottom: 3px solid $color-primary;
  }
  .nav-tabs li.active a:focus {
    border: none;
    color: $color-primary;
    border-bottom: 3px solid $color-primary;
  }
  .nav-tabs li:not(:last-child) {
    margin-right: $px_fifteen;
  }
}

@mixin tab-styles-override() {
  .nav-tabs {
    border: none;
    list-style-type: none;
  }
  .nav-tabs li {
    margin: 0;
  }
  .nav-tabs li a {
    margin: 0;
    border: none;
    color: $greyishy;
    text-transform: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: $font-weight-medium;
    background-color: $grey-darkest;
    padding: $px_fifteen $px_twentyfive;
    @include font-size(14px);
  }
  .nav-tabs li a:hover {
    border: none;
    color: $greyishy;
  }
  .nav-tabs li a:focus {
    border: none;
    color: $greyishy;
  }
  .nav-tabs li.active a {
    border: none;
    color: $brand-primary;
    background-color: $white;
  }
  .nav-tabs li.active a:hover {
    border: none;
    color: $color-primary;
  }
  .nav-tabs li.active a:focus {
    border: none;
    color: $color-primary;
  }
}

// Image Editor
.image-editor {
  position: relative;
  .cropit-preview-image-container {
    cursor: move;
  }
  button {
    position: absolute;
    bottom: 20px;
    background-color:transparent;
    border:none;
    color: white;
    text-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
    &.rotate-ccw {
      left: 0px;
    }
    &.rotate-cw {
      right: 0px;
    }
    &:focus {
      outline: none!important;
    }
  }
  input[type='range']  {
    -webkit-appearance: none ;
    position: absolute;
    bottom: 10px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none ;
      appearance: none ;
      border-radius: 0px;
      box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
      background-color: #fff;
      height: 4px;
      vertical-align:middle;
      border: none;
      cursor: pointer;
      outline:none;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border-radius: 100%;
      background-color: #fdd921;
      box-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
      height: 15px;
      width: 15px;
      vertical-align:middle;
      border: none;
      cursor: pointer;
      margin-top: -6px;
      &:hover {
        background: #fdd921;
      }
    }
    &:active::-webkit-slider-thumb {
      background: #fdd921;
    }
    &::-moz-range-track{
      -moz-appearance: none ;
      border-radius: 5px;
      box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
      background-color: #CCC;
      height: 8px;
      vertical-align:middle;
      margin:0; padding:0;
      border: none;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      -moz-appearance: none ;
      border-radius: 100%;
      background-color: #037cd5;
      box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
      height: 22px;
      width: 22px;
      vertical-align:middle;
      border: none;
      cursor: pointer;
      margin-top: -6px;
      &:hover {
        background: #fdd921;
      }
    }
    &:active::-moz-range-thumb {
      background: #fdd921;
    }
    &::-ms-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 39px 0;
      color: transparent;
    }
    &::-ms-fill-lower {
      background: #CCC;
      border: 0px solid #000101;
      border-radius: 50px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    &::-ms-fill-upper {
      background: #CCC;
      border: 0px solid #000101;
      border-radius: 50px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    &::-ms-thumb {
      box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
      border: 0px solid #000000;
      height: 22px;
      width: 22px;
      border-radius: 100%;
      background: #037cd5;
      cursor: pointer;
      margin-top: -2px;
    }
    &:focus {
      outline: none!important;
    }
  }
}
