/*
  Table of Contents:
  0. Hyperlinks
  1. Forms
  2. Buttons
  3. Breadcrumbs
*/

// 0. Hyperlinks
// Hyperlinks state
a {
  &:link {
    text-decoration: none;
  }
}

// 1. Forms
// Labels state
label {
  display: block;
}
// Help block state
.help-block {
  color: $grey-tone;
  @include font-size(12px);
}
// Inputs state
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @extend .form-control;
  box-shadow: none;
}
.bootstrap-select.btn-group {
  .dropdown-toggle {
    box-shadow: none !important;
  }
  &.open {
    .dropdown-toggle {
      box-shadow: none !important;
    }
  }
}
// Input placeholder text layout state
@mixin input_text_center() {
  &::-webkit-input-placeholder {
   text-align: center;
  }
  &:-moz-placeholder {
   text-align: center;
  }
  &::-moz-placeholder {
   text-align: center;
  }
  &:-ms-input-placeholder {
   text-align: center;
  }
}
// Input placeholder text color state
@mixin input_text_color($color) {
  &::-webkit-input-placeholder {
   color: $color;
  }
  &:-moz-placeholder {
   color: $color;
  }
  &::-moz-placeholder {
   color: $color;
  }
  &:-ms-input-placeholder {
   color: $color;
  }
}
// Textarea state
textarea {
  resize: none;
}
// .form-group state
.form-group {
  &:last-child {
    margin-bottom: 0;
  }
}

// 2. Buttons
// Button Outline state
.btn-outline {
  color: inherit;
  border-width: 2px;
  transition: all .5s;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: $font-weight-bold;
  .fa {
    margin-right: $px_ten/2;
  }
}
.btn-primary {
  color: $color-primary;
  &:hover {
    color: $white;
    background-color: $color-primary;
  }
}
.btn-default {
  color: $silver-dark;
  &:hover {
    color: $color-primary;
    background-color: $white;
  }
}
// Button Standard state
.btn-standard {
  padding: 0;
  border: none;
  line-height: normal;
  background-image: none;
  background-color: transparent;
  box-shadow: none !important;
}
// Button declaration
.btn_out_pri {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-outline;
}
.btn_out_sec {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-outline;
}
.btn_pri {
  @extend .btn;
  @extend .btn-standard;
  color: $color-primary;
  &:hover {
    color: darken($color-primary, 20%);
  }
  &:active {
    color: darken($color-primary, 20%);
  }
  &:focus {
    color: darken($color-primary, 20%);
  }
}
.btn_sec {
  @extend .btn;
  @extend .btn-standard;
  color: $silver-dark;
  &:hover {
    color: darken($silver-dark, 20%);
  }
  &:active {
    color: darken($silver-dark, 20%);
  }
  &:focus {
    color: darken($silver-dark, 20%);
  }
}
.btn_sec_light {
  color: $grey-darkest;
  &:hover {
    color: darken($grey-darkest, 20%);
  }
  &:active {
    color: darken($grey-darkest, 20%);
  }
  &:focus {
    color: darken($grey-darkest, 20%);
  }
}
.btn_pri_solid {
  @extend .btn;
  @extend .btn-primary;
  color: $white;
  &:hover {
    color: darken($white, 20%);
    background-color: darken($color-primary, 5%);
  }
  &:active {
    color: darken($white, 20%);
    background-color: darken($color-primary, 5%);
  }
  &:focus {
    color: darken($white, 20%);
    background-color: darken($color-primary, 5%);
  }
}
.btn_pri_solid {
  @extend .btn;
  color: $white;
  background-color: $color-primary;
  &:hover {
    color: $white;
    background-color: darken($color-primary, 5%);
  }
  &:active {
    color: $white;
    background-color: darken($color-primary, 5%);
  }
  &:focus {
    color: $white;
    background-color: darken($color-primary, 5%);
  }
}
.btn_archive_solid {
  @extend .btn;
  color: $white;
  background-color: $greyish;
  &:hover {
    color: $white;
    background-color: darken($greyish, 5%);
  }
  &:active {
    color: $white;
    background-color: darken($greyish, 5%);
  }
  &:focus {
    color: $white;
    background-color: darken($greyish, 5%);
  }
}
.btn_active_solid {
  @extend .btn;
  color: $white;
  background-color: $silver-dark;
  &:hover {
    color: $white;
    background-color: darken($silver-dark, 5%);
  }
  &:active {
    color: $white;
    background-color: darken($silver-dark, 5%);
  }
  &:focus {
    color: $white;
    background-color: darken($silver-dark, 5%);
  }
}

// 3. Breadcrumbs
.breadcrumb {
  @include font-size(12px);
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  .fa {
    margin-right: $px_five;
  }
}
