/*
  Table of Contents:
  0. Navigation
  1. Pushy Styles
  2. Login Page
  3. Profile Page
  4. Cases Page
  5. Case Page
  6. Misc - Types / Site Footer / Page Modals
*/

// 0. Navigation
.navbar {
  border: none;
  @include font-size(14px);
  background: transparent url('../images/background_nav.png') center/contain repeat;
  > div,
  .navbar-brand {
    position: relative;
  }
  .navbar-nav {
    li > a {
      padding-top: 33px;
      padding-bottom: 27px;
      border-bottom: 3px solid transparent;
    }
    font-weight: $font-weight-medium;
    li.active > a {
      border-bottom: 3px solid $white;
    }
  }
  .logo {
    position: absolute;
    top: 16px;
    width: 140px;
  }
  .navbar-icon {
    position: absolute;
    top: 0;
    right: 0;
    a {
      display: block;
      margin: $px_fifteen+5 $px_fifteen;
      @media #{$phablet} {
        margin: $px_fifteen;
      }
    }
    img {
      width: 40px;
    }
  }
  .fa {
    margin-left: 4px;
  }
  .dropdown {
    .active a {
      border-bottom: none;
    }
    .dropdown-menu a {
      border-bottom: none !important;
      padding: 3px 20px !important;
    }
  }
  .notice {
    position: relative;
    a::before {
      position: absolute;
      top: 31px;
      left: $px_five;
      content: '';
      width: $px_ten;
      height: $px_ten;
      border-radius: 50%;
      background-color: $red;
      @media #{$phablet} {
        top: 0;
        left: 8px;
        width: 7px;
        height: 7px;
      }
    }
  }
  @media #{$phablet__up} {
    .collapse {
      margin-right: $px_thirty+$px_fifteen; //~ 45px
    }
  }
  @media #{$phablet} {
    .navbar-header {
      float: none;
      display: block;
      text-align: center;
    }
    .navbar-brand {
      float: none;
      height: auto;
      line-height: normal;
      padding: $px_fifteen;
      display: inline-block;
    }
    .logo {
      display: inline-block;
      position: relative;
      max-width: 100px;
      top: auto;
    }
    .collapse {
      font-size: 0;
      text-align: center;
    }
    .navbar-nav {
      @include font-size(14px);
      margin-right: 0;
      display: inline-block;
      float: none !important;
      > li > a {
        padding-top: 0;
        padding-bottom: $px_ten;
      }
    }
  }
}

// 1. Pushy styles
@include pushy_overrides();

// 2. Login Page
.home {
  position: relative;
  color: $white;
  min-height: 100vh;
  @include font-size(14px);
  background: $white url('../images/background.jpg') center/cover no-repeat;
  .panel {
    margin: 0;
    border: none;
    box-shadow: none;
    background: none;
  }
  .panel-body {
    padding-left: 0;
    padding-right: 0;
  }
  .panel-heading {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    img {
      @media #{$mobile} {
        max-width: 180px;
        margin-top: $px_thirty;
      }
    }
  }
  // Form Elements
  #form_login {
    label {
      text-align: center;
      font-weight: $font-weight-medium;
    }
    .forgot_password {
      color: $white;
      display: inline-block;
      @include font-size(12px);
      text-decoration: underline;
      @media #{$mobile} {
        margin-bottom: $px_thirty;
      }
    }
  }
  footer {
    text-align: center;
    @include font-size(12px);
    a {
      color: $white;
      text-decoration: underline;
    }
    @media #{$desktop__up} {
      span::after {
        content: "\00a0\00a0\00a0|\00a0\00a0\00a0";
      }
    }
    @media #{$desktop} {
      a {
        display: block;
        margin-top: $px_ten;
      }
    }
  }
  #button_login {
    color: $white;
    border-color: $white;
    @extend .btn-block;
    margin-top: $px_thirty;
    margin-bottom: $px_thirty;
    @include font-size(16px);
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    &:hover {
      color: $color-primary;
    }
    &:active {
      color: $color-primary;
      background-color: $white;
      box-shadow: none;
    }
    &:focus {
      color: $color-primary;
      background-color: $white;
    }
  }
  .form-group:last-child {
    @extend .text-center;
  }
}

// 3. Profile Page
.profile {
  min-height: 100vh;
  h1 {
    color: $color-primary;
  }
  .bootstrap-select {
    width: 100% !important;
    .dropdown-toggle {
      color: $grey-tone !important;
      border-color: $grey-dark !important;
      background-color: $white !important;
      font-weight: $font-weight-regular !important;
    }
  }
  .form-group {
    position: relative;
  }
  .site-main {
    color: $color-primary;
    @include font-size(14px);
  }
  #form_profile {
    background: $white;
    border-radius: 4px;
    padding: $px_fifteen $px_fifteen 0;
    // box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.125);
    @media #{$phablet__up} {
      padding: $px_thirty $px_thirty 0; //~ 30px
    }
    label {
      font-weight: $font-weight-medium;
      @media #{$phablet} {
        @include font-size(12px);
      }
    }
    figcaption {
      margin-bottom: $px_fifteen;
      font-weight: $font-weight-medium;
      @media #{$phablet} {
        @include font-size(12px);
      }
    }
    img {
      width: 100%;
      text-align: center;
      @extend .img-circle;
      @media #{$phablet} {
        width: 100px;
      }
    }
    .third_column {
      margin: $px_thirty 0;
      text-align: right;
      @media #{$phablet} {
        margin: $px_twenty 0;
      }
    }
  }
  .additional_info {
    @extend .help-block;
    margin-top: -$px_five;
    &:last-of-type {
      margin-top: $px_ten;
    }
  }
  .toggle_password {
    position: absolute;
    top: -3px;
    right: $px_fifteen;
    label {
      display: inline;
      margin-left: 3px;
    }
  }
  .tab-pane {
    > .row {
      margin-bottom: $px_fifteen;
      &:last-child {
        margin-bottom: 0;
      }
    }
    fieldset {
      @include fieldset_colored();
    }
    @media #{$phablet__up} {
      &#tab_practice fieldset {
        margin-top: 9px;
      }
      &#tab_invisalign fieldset {
        margin-top: $px_thirty;
      }
    }
  }
  #btn_save {
    margin-left: $px_thirty;
    @include font-size(16px);
    text-transform: uppercase;
  }
  #btn_cancel {
    color: $grey-darkest;
    @include font-size(16px);
    text-transform: uppercase;
    @extend .btn_sec_light;
  }
  @include tab-styles();
  @media #{$phablet} {
    h1 {
      @include font-size(16px);
    }
    label,
    .help-block,
    .form-group:first-child {
      text-align: center;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      @include input_text_center();
    }
    .tab-listing {
      text-align: center;
      margin: $px_fifteen 0 $px_thirty;
    }
  }
}

// 4. Cases Page
.cases {
  position: relative;
  min-height: 100vh;
  .site-main {
    > .row {
      margin-top: $px_thirty;
      margin-bottom: $px_thirty;
      @media #{$phablet} {
        margin-top: $px_twenty;
        margin-bottom: $px_five;
      }
    }
    h1 {
      margin: 0;
      padding: 0;
      line-height: 36px;
      display: inline-block;
      color: $color-primary;
    }
    form {
      @extend .form-inline;
      .archived_cases {
        input {
          margin: 0;
          vertical-align: middle;
        }
        label {
          margin: 0;
          line-height: 36px;
          color: $grey-tone;
          display: inline-block;
          vertical-align: middle;
          @include font-size(14px);
          font-weight: $font-weight-regular;
        }
        @media #{$phablet} {
          label {
            @include font-size(12px);
          }
        }
      }
      .search_cases {
        position: relative;
        display: block;
        input {
          width: 100%;
          height: 36px;
          border-radius: 23px;
          padding-right: $px_thirty*1.5;
          @include input_text_color($silver-dark);
        }
        span {
          position: absolute;
          top: 0;
          right: $px_thirty;
          z-index: 1000;
          width: auto;
        }
        button {
          border: none;
          line-height: 36px;
        }
      }
      .new_case {
        min-width: auto;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 32px;
        border-radius: 23px;
        @include font-size(16px);
        @media #{$desktop__up} {
          min-width: 170px;
        }
        @media #{$phablet} {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          display: inline-block;
          .fa {
            margin: 6px 0 0 -3.5px;
            @include font-size(20px);
          }
          span {
            display: none;
          }
        }
      }
      @media #{$phablet} {
        .new_cases,
        .search_cases {
          margin-bottom: $px_five;
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      @include clearfix();
    }
    li {
      list-style-type: none;
    }
    .panel {
      position: relative;
      box-shadow: none;
      border-radius: 4px;
      border-color: $grey-dark;
    }
    .panel-heading {
      padding-bottom: 0;
      span {
        line-height: normal;
        @include font-size(11px);
        font-weight: $font-weight-medium;
      }
      .case_date {
        color: $silver-dark;
      }
      .case_status {
        color: $grey-tone;
        margin-left: $px_thirty;
      }
      @media #{$phablet} {
        .case_date {
          float: left;
          line-height: $px_fifteen;
          vertical-align: text-top;
        }
        .case_status {
          float: right;
          color: $grey-tone;
          vertical-align: text-top;
          margin-left: $px_thirty;
          line-height: $px_fifteen;
        }
      }
    }
    .panel-body {
      width: 100%;
      display: table;
      color: $silver-dark;
      .patient_img {
        width: 85px;
        display: table-cell;
        vertical-align: middle;
        img {
          @extend .img-circle;
        }
      }
      .patient_info {
        width: calc(100% - 85px);
        display: table-cell;
        vertical-align: middle;
      }
      span {
        line-height: normal;
      }
      .patient_name {
        margin-right: $px_fifteen;
        @include font-size(24px);
        font-weight: $font-weight-regular;
      }
      .patient_sex {
        @include font-size(14px);
        margin-right: $px_ten;
        font-weight: $font-weight-medium;
      }
      .patient_age {
        @include font-size(14px);
        font-weight: $font-weight-medium;
      }
      @media #{$tablet} {
        color: $silver-dark;
        .patient_info {
          padding-left: $px_fifteen;
        }
        .patient_name {
          display: block;
          margin-left: 0;
          @include font-size(18px);
        }
        .patient_sex {
          @include font-size(14px);
        }
        .patient_age {
          @include font-size(14px);
        }
      }
      @media #{$phablet} {
        color: $silver-dark;
        .patient_img {
          width: 70px;
        }
        .patient_info {
          width: calc(100% - 70px);
        }
        .patient_info {
          padding-left: $px_fifteen;
        }
        .patient_name {
          display: block;
          margin-left: 0;
          @include font-size(16px);
        }
        .patient_sex {
          @include font-size(12px);
        }
        .patient_age {
          @include font-size(12px);
        }
      }
    }
    .panel-footer {
      border: none;
      background: transparent;
      .btn_delete {
        @include font-size(14px);
        text-transform: uppercase;
      }
      .icon-group {
        float: right;
        a {
          line-height: 0;
          @include font-size(24px);
          margin-left: $px_fifteen;
        }
      }
      @media #{$phablet} {
        border-top: 1px solid $grey-dark;
        a {
          line-height: 0;
          @include font-size(18px);
        }
        .icon-group {
          float: right;
          a {
            @include font-size(16px);
            margin-left: $px_thirty;
          }
        }
      }
    }
    .active .panel {
      border-color: $color-primary;
      .case_date,
      .patient_name {
        color: $color-primary;
      }
      .case_status,
      .patient_age,
      .patient_sex {
        color: $grey-tone;
      }
      .panel-footer {
        .active {
          position: relative;
          color: $color-primary;
          box-shadow: none !important;
          &:hover {
            color: darken($color-primary, 20%);
          }
          &::before {
            position: absolute;
            top: -2.5px;
            left: -5px;
            content: '';
            width: $px_fifteen;
            height: $px_fifteen;
            border-radius: 50%;
            background-color: $red;
            border: 2px solid $white;
            @media #{$phablet} {
              top: 0;
              left: -5px;
              width: $px_ten;
              height: $px_ten;
            }
          }
        }
      }
    }
    .archive .panel {
      border-color: $greyish;
      background: none;
      border-style: dashed;
      .case_date {
        color: $greyish;
      }
      .case_status {
        color: $greyish;
      }
      .panel-body {
        color: $greyish;
        img {
          opacity: 0.7;
        }
      }
      .panel-footer {
        a {
          color: $greyish;
        }
        .btn_delete {
          @include font-size(14px);
          color: $greyishness;
        }
      }
    }
    @media #{$phablet__up} {
      .panel-footer {
        height: 0;
        padding: 0;
      }
      .btn_delete {
        position: absolute;
        z-index: 1000;
        top: $px_fifteen;
        right: $px_fifteen;
      }
      .icon-group {
        position: absolute;
        z-index: 1000;
        bottom: $px_fifteen;
        right: $px_fifteen;
      }
    }
  }
  .site-widget {
    @extend .hidden-xs;
    h2 {
      color: $grey-tone;
      line-height: 36px;
      @include font-size(18px);
      margin: $px_thirty 0 $px_thirty;
      font-weight: $font-weight-regular;
    }
    form {
      text-align: right;
      textarea {
        @include input_text_color($silver-dark);
      }
      #btn_addnote {
        @include font-size(16px);
        text-transform: uppercase;
        margin: $px_ten 0 $px_thirty;
        font-weight: $font-weight-medium;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
    }
    .panel {
      background: none;
      box-shadow: none;
      border: 1px solid $silver-dark;
    }
    .panel-body {
      margin: 0;
      border: none;
      box-shadow: none;
      background: none;
      color: $grey-tone;
      @include font-size(12px);
      padding: $px_ten $px_ten 0;
      font-weight: $font-weight-regular;
      p {
        margin-bottom: 0;
      }
    }
    .panel-footer {
      @include clearfix();
      border: none;
      background: none;
      padding: $px_ten/2 $px_ten;
      .note_info {
        float: left;
        line-height: 20px;
        color: $color-primary;
        vertical-align: text-top;
        @include font-size(10px);
        font-weight: $font-weight-medium;
      }
      .delete_note {
        float: right;
        line-height: 20px;
        @include font-size(14px);
        vertical-align: text-top;
      }
    }
  }
  .view_notes {
    @extend .visible-xs;
    position: fixed;
    width: 45px;
    height: 45px;
    padding: $px_ten;
    background: $white;
    border-radius: 50%;
    right: $px_fifteen;
    bottom: $px_fifteen;
    @include font-size(20px);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2) !important;
    &:hover {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2) !important;
    }
    &:active {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2) !important;
    }
    &:focus {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2) !important;
    }
  }
}

// 5. Case Page
.case {
  .site-header {
    padding-bottom: 80px;
  }
  .site-main {
    background-color: $white;
  }
  .parent-tab {
    a {
      line-height: 0;
      @include font-size(16px);
    }
    .fa {
      margin-right: 5px;
    }
  }
  .content {
    @include tab-styles-override();
    > ul {
      margin-top: -46px;
    }
  }
  .sidebar {
    max-height: 600px;
    overflow-y: scroll;
    h2 {
      padding: 0;
      color: $grey-tone;
      margin: $px_fifteen 0;
      @include font-size(14px);
      font-weight: $font-weight-medium;
    }
    span {
      display: block;
      color: $grey-tone;
      text-align: right;
      margin: $px_ten 0 0;
      padding-bottom: $px_ten;
      @include font-size(11px);
      font-weight: $font-weight-regular;
      border-bottom: 1px solid $grey-dark;
    }
    // Gallery layout overrides
    .gallery_ortho_set .gallery-row {
      margin-left: -5px;
      margin-right: -5px;
    }
    .gallery_ortho_set .gallery-item {
      padding-left: $px_five;
      padding-right: $px_five;
      padding-bottom: $px_ten;
    }
    .gallery_panorex .gallery-item,
    .gallery_lateral_cephalogram .gallery-item {
      width: 100%;
    }
    .recent_full_mouth_series {
      img {
        width: 100%;
      }
      span {
        border: none;
      }
      .row {
        margin-left: -2px;
        margin-right: -2px;
        > div {
          padding-left: 2px;
          padding-right: 2px;
          padding-bottom: 4px;
        }
      }
      .first,
      .third {
        margin-top: 19px;
      }
      .space {
        margin-bottom: $px_thirty;
      }
    }
  }
  .breadcrumb {
    margin-bottom: 0;
  }
  .form_register_case {
    @extend .form-inline;
    label {
      display: block;
      @include font-size(14px);
      font-weight: $font-weight-regular;
    }
    figcaption {
      margin-bottom: $px_ten;
      @include font-size(14px);
    }
    .form-group,
    input[type="text"] {
      width: 100%;
    }
    .gutter .form-group {
      margin-top: $px_ten;
    }
    .bootstrap-select {
      width: 100% !important;
    }
    .bootstrap-select .dropdown-toggle {
      color: $grey-tone;
      font-weight: $font-weight-regular;
      border-color: $grey-dark !important;
      background-color: $white !important;
    }
    .btn_out_pri {
      border-radius: 23px;
    }
    .help-block {
      color: $color-primary;
    }
    .date input[type="text"] {
      width: 100%;
    }
    .date .input-group-addon {
      position: absolute;
      top: 0;
      right: 10px;
      padding: 0;
      border: none;
      background: none;
      line-height: 34px;
    }
  }
}
// Content styles
.orthodontist_notes {
  position: relative;
  background-color: $blueish;
  border: 1px solid $grey-dark;
  @media #{$phablet} {
    border-bottom: none;
  }
  @media #{$phablet__up} {
    border-right: none;
    p {
      min-height: 90px;
    }
  }
  span {
    @extend .label;
    @extend .label-primary;
  }
  .fa {
    color: $color-primary;
  }
}
.your_notes {
  position: relative;
  background-color: $greenish;
  border: 1px solid $grey-dark;
  span {
    @extend .label;
    @extend .label-default;
  }
  .fa {
    color: $green-dark;
  }
  @media #{$phablet__up} {
    #note_details {
      min-height: 90px;
    }
  }
}
.row_notes {
  h3 {
    margin-top: $px_thirty+$px_twenty;
    color: $grey-tone;
    @include font-size(14px);
    font-weight: $font-weight-medium;
  }
  p {
    margin-bottom: 0;
    color: $grey-tone;
    @include font-size(12px);
    font-weight: $font-weight-regular;
  }
  .labels {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    @include font-size(12px);
    padding: $px_ten $px_fifteen;
    font-weight: $font-weight-medium;
    border-bottom-right-radius: 4px;
  }
  .panel-group {
    margin: $px_thirty -15px $px_twenty;
  }
  .fa {
    margin-right: $px_five;
  }
  .panel {
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid $blueing;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 0 !important;
    &:first-child {
      border-top: 1px solid $blueing;
    }
  }
  .your_notes .panel {
    border-bottom: 1px solid $green-dark;
    &:first-child {
      border-top: 1px solid $green-dark;
    }
  }
  .panel-heading {
    padding: $px_fifteen;
    border-color: $blueing;
    background-color: transparent;
  }
  .panel-title {
    @include font-size(14px);
    font-weight: $font-weight-medium;
  }
  .panel-body {
    padding-top: 0;
    border: none !important;
    @include font-size(11px);
  }
}
.tab-pane#media {
  @include tab-styles();
  > ul {
    margin-top: $px_fifteen;
  }
  .bootstrap-select {
    margin: $px_fifteen 0;
  }
  .bootstrap-select button {
    color: $grey-tone;
    @include font-size(14px);
    font-weight: $font-weight-regular;
  }
}
.tab-pane#diagnosis {
  form {
    @extend .form-inline;
    margin-top: $px_thirty;
    margin-bottom: $px_thirty+$px_ten;
  }
  label {
    @include font-size(14px);
    display: inline-block;
    margin-right: $px_five;
    font-weight: $font-weight-regular;
  }
  input {
    @include font-size(14px);
    max-width: 100px;
    border-radius: 4px;
    font-weight: $font-weight-medium;
  }
  .form-group {
    position: relative;
    margin-right: $px_twenty*2;
  }
  .help-block {
    position: absolute;
    width: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: right;
    bottom: -$px_twenty;
    @include font-size(10px);
  }
  .btn-group {
    display: block;
    text-align: right;
    margin-top: $px_fifteen;
    margin-bottom: $px_fifteen;
  }
  .btn_pri {
    margin-left: $px_thirty;
    @include font-size(16px);
    text-transform: uppercase;
  }
  .btn_sec {
    @include font-size(16px);
    text-transform: uppercase;
  }
}
.tab-pane#conversation {
  .print_conversation {
    margin: $px_fifteen 0;
    display: block;
    text-align: right;
    @include font-size(10px);
    font-weight: $font-weight-bold;
    .fa {
      margin-right: $px_five;
    }
  }
  .form_conversation_submit {
    .fa {
      margin-right: $px_five;
    }
    input {
      padding-right: 145px;
    }
    button {
      text-transform: uppercase;
    }
    .input-group {
      position: relative;
      width: 100%;
    }
    .input-group-btn {
      position: absolute;
      top: 0;
      right: 15px;
      width: auto;
      line-height: 34px;
    }
  }
  .chat_window {
    padding: $px_fifteen;
    max-height: 400px;
    overflow-y: scroll;
  }
  .panel {
    display: block;
    border: none;
    box-shadow: none;
    background: none;
    max-width: 400px;
    @media #{$tablet__up} {
      max-width: calc(100% - 15%);
    }
  }
  .panel-body {
    @include font-size(12px);
  }
  .panel-footer {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 10px;
  }
  .timestamp {
    color: $silverish;
    @include font-size(10px);
  }
  .conversation_received {
    @extend .pull-left;
    .panel-body {
      color: $grey-tone;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 6px;
      background-color: $silver-mode;
    }
    .panel-footer {
      padding-top: $px_five;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .conversation_sent {
    @extend .pull-right;
    .fa {
      color: $green-mode;
      margin-right: $px_five;
    }
    .panel-body {
      color: $white;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 0;
      background-color: $green-mode;
    }
    .panel-footer {
      padding-top: $px_five;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// 5. Miscellanous

// Types
.page-title {
  margin: $px_thirty 0;
  @include font-size(24px);
  font-weight: $font-weight-regular;
  @media #{$phablet} {
    text-align: center;
    margin: $px_fifteen 0;
  }
}

// Site Footer
.site-footer {
  color: $grey-tone;
  margin: $px_thirty 0;
  @include font-size(12px);
  span::after {
    content: "\00a0\00a0\00a0|\00a0\00a0\00a0";
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  @media #{$phablet} {
    span::after {
      content: ".";
    }
    a {
      display: block;
      margin-top: $px_ten;
    }
  }
}

// Page Modals
#disclaimer {
  @include modal_disclaimer();
}
#reset_password {
  @include modal_resetpassword();
}
#upload_files {
  @include modal_uploadfiles();
}
