include ../../_includes/orthodontist/navigation_orthodontist
main.push.container-fluid(role="main")
  .row   
    section.site-main
      .row
        h1.page-title Terms and Conditions
      .row
        .col-sm-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quidem voluptatem, ducimus dolores eum ipsum labore tenetur excepturi hic eius qui debitis consequatur placeat voluptatum corporis inventore eaque id facere.
  .row
    include ../../_includes/orthodontist/footer
  //- .row
//- main | .push | .container-fluid
