include ../../_includes/dentist/navigation
main.push.container-fluid(role="main")
  .row
    h1.page-title My Profile
  //- .row
  .row
    section.site-main
      form#form_profile(role="form")
        .row
          .first_column
            .form-group
              figure
                figcaption Profile Photo (Optional)
                img.dentist_profile_photo(src="images/user_profile.png", alt="Steve Chang", title="Steve Chang")
            //- .form-group
          //- .first_column
          .second_column
            .tab-listing      
              ul.nav.nav-tabs.device-small(role='tablist')
                li.active(role='presentation')
                  a(href='#tab_personal', aria-controls='personal', role='tab', data-toggle='tab', title="Personal") Personal                  
                li(role='presentation')
                  a(href='#tab_practice', aria-controls='practice', role='tab', data-toggle='tab', title="Practice") Practice  
                li(role='presentation')
                  a(href='#tab_invisalign', aria-controls='invisalign', role='tab', data-toggle='tab', title="Invisalign") Invisalign
              //- ul | .nav | .nav-tabs | .device-small
            //- .tab-listing 
            .row.tab-content
              #tab_personal.tab-pane.active(role='tabpanel')
                .form-group
                  label(for="dentist_first_name") First Name
                  input#dentist_first_name(type="text", name="dentist_first_name", placeholder="Steve")
                //- .form-group
                .form-group
                  label(for="dentist_last_name") Last Name
                  input#dentist_last_name(type="text", name="dentist_last_name", placeholder="Chang")
                //- .form-group
                .form-group
                  label(for="dentist_email") Email
                  input#dentist_email(type="email", name="dentist_email", placeholder="steve.chang@gmail.com")
                //- .form-group
                .row
                  .form-group.col-sm-6
                    label(for="dentist_personal_phone") Personal Phone
                    input#dentist_personal_phone(type="text", name="dentist_personal_phone", placeholder="(209) 555-5555")
                  //- .form-group | .col-sm-6
                //- .row
                .form-group.gutter
                  label(for="dentist_about") About Yourself (Optional)
                  p.additional_info Please tell us a bit about yourself and anything you think might be helpful for your Orthodontist to know.
                  textarea.auto_grow#dentist_about(name="dentist_about", rows="5", placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi in quos modi quis vero commodi nobis animi corporis. Labore voluptatem, ipsa odio tenetur. Reiciendis, sed, temporibus. Doloremque eligendi consectetur voluptatum.")
                  p.additional_info Please tell us a bit about your past dental experience, courses, and comfort level. This will help in providing the best advice possible. This section can be updated anytime.
                  textarea.auto_grow#dentist_about_experiences(name="dentist_about_experiences", rows="5", placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi in quos modi quis vero commodi nobis animi corporis. Labore voluptatem, ipsa odio tenetur. Reiciendis, sed, temporibus. Doloremque eligendi consectetur voluptatum.")
                //- .form-group
                .row
                  .col-sm-12
                    hr
                  .clearfix
                  .form-group.col-sm-6
                    label(for="dentist_set_password") Password              
                    input#dentist_set_password(type="password", name="dentist_set_password", placeholder="default", value="default")                            
                    .dentist_toggle_password
                      input#toggle_password(type="checkbox")
                      label(for="toggle_password") Show
                    //- .toggle_password
                  //- .form-group | .col-sm-6
                //- .row
                .row
                  .form-group.col-sm-6
                    label(for="dentist_new_password") New Password
                    input#dentist_new_password(type="password", name="dentist_new_password", placeholder="")
                  //- .form-group | .col-sm-6
                //- .row
                .row
                  .form-group.col-sm-6
                    label(for="dentist_confirm_password") Re-type Password
                    input#dentist_confirm_password(type="password", name="dentist_confirm_password", placeholder="")
                  //- .form-group | .col-sm-6
                //- .row
              //- #tab_personal | .tab-pane | .active
              #tab_practice.tab-pane(role='tabpanel')
                fieldset
                  legend Practice Address
                  .form-group
                    label(for="dentist_practice_street") Street
                    input#dentist_practice_street(type="text", name="dentist_practice_street", placeholder="461 King Street")
                  // .form-group
                  .form-group
                    label(for="dentist_practice_city") City
                    input#dentist_practice_city(type="text", name="dentist_practice_city", placeholder="Toronto")
                  // .form-group
                  .form-group
                    label(for="dentist_practice_state") State/Province
                    select#dentist_practice_state.selectpicker(name="dentist_practice_state")
                      option(value='AB') Alberta
                      option(value='BC') British Columbia
                      option(value='MB') Manitoba
                      option(value='NB') New Brunswick
                      option(value='NL') Newfoundland and Labrador
                      option(value='NS') Nova Scotia
                      option(value='ON') Ontario
                      option(value='PE') Prince Edward Island
                      option(value='QC') Quebec
                      option(value='SK') Saskatchewan
                      option(value='NT') Northwest Territories
                      option(value='NU') Nunavut
                      option(value='YT') Yukon
                  // .form-group
                  .form-group
                    label(for="dentist_practice_country") Country
                    select#dentist_practice_country.selectpicker(name="dentist_practice_country")
                      option(value="CAN") Canada
                  // .form-group
                  .form-group
                    label(for="dentist_practice_zip") ZIP/Postal Code
                    input#dentist_practice_zip(type="text", name="dentist_practice_zip", placeholder="M5V 1K5")
                  // .form-group
                  .form-group
                    label(for="dentist_practice_phone") Phone
                    input#dentist_practice_phone(type="text", name="dentist_practice_phone", placeholder="(209) 555-5555")
                  // .form-group
                  .form-group
                    label(for="dentist_practice_website") Website
                    input#dentist_practice_website(type="text", name="dentist_practice_website", placeholder="http://www.somewebsite.com")
                  // .form-group
                //- fieldset
              //- #tab_practice | .tab-pane
              #tab_invisalign.tab-pane(role='tabpanel')
                fieldset
                  legend Invisalign (Optional)
                  .form-group
                    label(for="dentist_invisalign_username") Username
                    input#dentist_invisalign_username(type="text", name="dentist_invisalign_username", placeholder="Username001")
                  //- .form-group
                  .form-group
                    label(for="dentist_invisalign_password") Password
                    input#dentist_invisalign_password(type="password", name="dentist_invisalign_password", placeholder="passwordXYZ")
                  //- .form-group
                //- fieldset
              //- #tab_invisalign | .tab-pane
            //- .row | .tab-content
          //- .second_column
        //- .row
        .row
          .full_column
            button#btn_cancel.btn_sec(type='button', role='button') Cancel
            button#btn_save.btn_pri(type='submit', role='button') Save
          //- .third_column
        //- .row
      //- form | #form_profile
    //- section | .site-main
  //- .row
  .row
    include ../../_includes/dentist/footer
//- main | .push | .container-fluid
include ../../_includes/modal_disclaimer
