include ../../_includes/dentist/navigation
main.push.container-fluid(role="main")
  .row   
    section.site-main
      .row
        h1.page-title Resources
      .row
        .col-sm-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quidem voluptatem, ducimus dolores eum ipsum labore tenetur excepturi hic eius qui debitis consequatur placeat voluptatum corporis inventore eaque id facere.
  .row
    include ../../_includes/dentist/footer
  //- .row
//- main | .push | .container-fluid
