footer.site-footer
  span All rights reserved &copy; 2017 MyOrthoAssist
  a(href="", data-toggle="modal", data-target="#disclaimer", title="Terms and Conditions") Terms & Conditions
//- footer | .site-footer | .col-sm-12
