#reset_password.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        p Contact Admin to Reset Your Password.
        a#reset_email.btn_out_pri(href="") EMAIL
        span Or 
          span Call: 1-800-555-5555
