#modal_edit_media.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title Edit Media
      //- .modal-header
      .modal-body
        #image-cropper
          .cropit-preview
          input.cropit-image-zoom-input(type='range')
          // The actual file input will be hidden
          input.cropit-image-input(type='file')
          // And clicking on this button will open up select file dialog
          .select-image-btn Select new image
        hr
        .form-group
          label(for="edit_media_date") Upload Date
          .select-date.input-group.date
            input#edit_media_date(type='text')
            span.input-group-addon
              i.fa.fa-calendar(aria-hidden="true")
        .form-group
          label(for="edit_media_title") Picture Title
          input#edit_media_title(type="text", name="input_edit_media", placeholder="Sample Picture")
      //- .modal-body
      .modal-footer
        .btn-group
          a.btn_cancel_media.btn_sec(href="", title="Cancel", data-dismiss='modal', role='button') Cancel
          a.btn_delete_media.btn_sec(href="", title="Delete") Delete          
          a.btn_save_media.btn_pri(href="", title="Save") Save
      //- .modal-footer
    //- .modal-content
  //- .modal-dialog
//- .modal | .fade | #modal_edit_media
