#upload_files.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title Upload Images/Documents
      .modal-body
        .text-center
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#modal_ortho_set', aria-controls='modal_ortho_set', role='tab', data-toggle='tab') Ortho Set
            li(role='presentation')
              a(href='#modal_panorex', aria-controls='modal_panorex', role='tab', data-toggle='tab') Panorex
            li(role='presentation')
              a(href='#modal_lateral_cef', aria-controls='modal_lateral_cef', role='tab', data-toggle='tab') Lateral CEF
            li(role='presentation')
              a(href='#modal_intra_oral', aria-controls='modal_intra_oral', role='tab', data-toggle='tab') Intra-Oral Radiographs
            li(role='presentation')
              a(href='#modal_misc_photos', aria-controls='modal_misc_photos', role='tab', data-toggle='tab') Misc Photos/Radiographs
            li(role='presentation')
              a(href='#modal_documents', aria-controls='modal_documents', role='tab', data-toggle='tab') Documents
          .tab-content
            #modal_ortho_set.tab-pane.active(role='tabpanel')
              p.how_to Drag & Drop Your Document Below                             
              .row
                .col-sm-12
                  .panel.ortho_set__facial_profile
                    .panel-heading
                      | Facial Profile
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Facial Profile", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/facial_profile.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__facial_front
                    .panel-heading
                      | Facial Front
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Facial front", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/facial_front.jpg');")
                    .panel-footer
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__facial_front_smiling
                    .panel-heading
                      | Facial Front Smiling
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Facial front smiling", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/facial_front_smiling.jpg');")
                    .panel-footer
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
              .row
                .col-sm-12
                  .panel.ortho_set__occlusal_upper
                    .panel-heading
                      | Occlusal Upper
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Occlusal upper", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/occlusal_upper.jpg');")
                    .panel-footer
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")              
                  .panel.ortho_set__intra_oral_teeth_apart
                    .panel-heading
                      | Intra-oral - Teeth Apart
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral - Teeth Apart", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/occlusal_upper.jpg');") 
                    .panel-footer
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__occlusal_lower
                    .panel-heading
                      | Occlusal Lower
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Occlusal Lower", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/occlusal_lower.jpg');")
                    .panel-footer
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
              .row
                .col-sm-12
                  .panel.ortho_set__intra_oral_right
                    .panel-heading
                      | Intra-oral Right
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Right", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/intra_oral_right.jpg');")
                    .panel-footer
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")         
                  .panel.ortho_set__intra_oral_center
                    .panel-heading
                      | Intra-oral Center
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Center", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/intra_oral_center.jpg');")
                    .panel-footer
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true") 
                  .panel.ortho_set__intra_oral_left
                    .panel-heading
                      | Intra-oral Left
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Left", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/intra_oral_left.jpg');")
                    .panel-footer
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
            #modal_panorex.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Images in the Blocks Below
              .row
                .col-sm-12
                  .panel.ortho_set__panorex
                    .panel-heading
                      | Panorex
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Panorex", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/panorex.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
            #modal_lateral_cef.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Images in Respective Blocks Below
              .row
                .col-sm-12
                  .panel.ortho_set__lateral_Cephalogram
                    .panel-heading
                      | Lateral Cephalogram
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Lateral Cephalogram", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/cephalometric.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
            #modal_intra_oral.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Image Below
              .row
                .col-sm-12
                  .panel.ortho_set__intra_oral_radiographs_xray_01
                    .panel-heading
                      | X-Ray-1
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-1", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-1.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_02
                    .panel-heading
                      | X-Ray-2
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-2", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-2.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_03
                    .panel-heading
                      | X-Ray-3
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-3", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-3.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_04
                    .panel-heading
                      | X-Ray-4
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-4", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-4.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_05
                    .panel-heading
                      | X-Ray-5
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-5", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-5.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_06
                    .panel-heading
                      | X-Ray-6
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-6", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-6.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_07
                    .panel-heading
                      | X-Ray-7
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-7", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-7.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_08
                    .panel-heading
                      | X-Ray-8
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-8", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-8.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
              .row
                .col-sm-12
                  .panel.ortho_set__intra_oral_radiographs_xray_09
                    .panel-heading
                      | X-Ray-9
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-9", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-9.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_10
                    .panel-heading
                      | X-Ray-10
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-10", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-10.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_11
                    .panel-heading
                      | X-Ray-11
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-11", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-11.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_12
                    .panel-heading
                      | X-Ray-12
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-12", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-12.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
              .row
                .col-sm-12
                  .panel.ortho_set__intra_oral_radiographs_xray_13
                    .panel-heading
                      | X-Ray-13
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-13", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-13.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_14
                    .panel-heading
                      | X-Ray-14
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-14", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-14.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_15
                    .panel-heading
                      | X-Ray-15
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-15", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-15.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_16
                    .panel-heading
                      | X-Ray-16
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-16", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-16.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_17
                    .panel-heading
                      | X-Ray-17
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-17", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-17.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_18
                    .panel-heading
                      | X-Ray-18
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-18", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-18.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_19
                    .panel-heading
                      | X-Ray-19
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-19", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-19.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__intra_oral_radiographs_xray_20
                    .panel-heading
                      | X-Ray-20
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs X-Ray-20", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/illustrations/x-ray-20.jpg');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")

            #modal_misc_photos.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Image Below
              .row
                .col-sm-12
                  .panel.ortho_set__misc_01
                    .panel-heading
                      | Misc. 01
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs Misc. 01", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/image_icon_watermark.png');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__misc_02
                    .panel-heading
                      | Misc. 02
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs Misc. 02", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/image_icon_watermark.png');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__misc_03
                    .panel-heading
                      | Misc. 03
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs Misc. 03", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/image_icon_watermark.png');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
              .row
                .col-sm-12
                  .panel.ortho_set__misc_04
                    .panel-heading
                      | Misc. 04
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs Misc. 04", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/image_icon_watermark.png');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__misc_05
                    .panel-heading
                      | Misc. 05
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs Misc. 05", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/image_icon_watermark.png');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
                  .panel.ortho_set__misc_06
                    .panel-heading
                      | Misc. 06
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs Misc. 06", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/image_icon_watermark.png');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")

            #modal_documents.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Images in Respective Blocks Below
              .row
                .col-sm-12
                  .panel.ortho_set__documents
                    .panel-heading
                      | PDF's or MS Word Documents
                      a.modal_popover(href="", tabindex="0", role="button", data-toggle="popover", data-trigger="hover", title="Intra-oral Radiographs Misc. 04", data-content="Please add some content.")
                        i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body(style="background-image:url('images/documents_icon_watermark.png');")
                    .panel-footer                    
                      .form-group
                        .select-date.input-group.date
                          input(type='text')
                          span.input-group-addon
                            i.fa.fa-calendar(aria-hidden="true")
      .modal-footer
        a.btn_cancel_upload_modal.btn_sec(href='', data-dismiss='modal', role='button') Cancel
        a.btn_submit_ubpload_modal.btn_pri(href='', data-dismiss='modal', role='button') Save
