#modal_edit_media.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title Edit Media
      //- .modal-header
      .modal-body     
        .image-editor-wrap
          .image-container(style="background-image:url('images/image_icon_watermark.png');")
            .image-editor
              .cropit-preview
              input.cropit-image-zoom-input(type='range')
              button.rotate-ccw
                i.fa.fa-undo(aria-hidden='true')
              button.rotate-cw
                i.fa.fa-repeat(aria-hidden='true')
        hr
        .form-group
          label(for="edit_media_date") Upload Date
          .select-date.input-group.date
            input#edit_media_date(type='text')
            span.input-group-addon
              i.fa.fa-calendar(aria-hidden="true")
        .form-group
          label(for="edit_media_title") Picture Title
          input#edit_media_title(type="text", name="input_edit_media", placeholder="Sample Picture")
      //- .modal-body
      .modal-footer
        .btn-group
          a.btn_print_media.btn_sec(href="", title="Print", role='button') Print
          a.btn_delete_media.btn_sec(href="", title="Delete") Delete          
          a.btn_cancel_media.btn_sec(href="", title="Cancel", data-dismiss='modal', role='button') Cancel          
          a.btn_save_media.btn_pri(href="", title="Save") Save
      //- .modal-footer
    //- .modal-content
  //- .modal-dialog
//- .modal | .fade | #modal_edit_media
