#disclaimer.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Disclaimer
      .modal-body
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sunt minus laboriosam neque dolor sint dolore laudantium doloribus facere nihil commodi earum impedit, corporis quibusdam ducimus accusantium perspiciatis expedita maxime. Laboriosam, vitae harum similique nemo explicabo ab optio error fugiat, aliquid a natus ducimus tempora hic eos cupiditate ratione adipisci officia odit reprehenderit nulla minus dolorem numquam eaque nihil! Commodi. Cumque velit vitae porro incidunt nemo provident, tenetur quidem voluptatem commodi expedita aperiam facilis omnis numquam culpa explicabo, distinctio atque hic molestiae. Dignissimos necessitatibus perferendis ad, sint expedita blanditiis! Architecto. Officiis neque quasi, blanditiis ab animi itaque perspiciatis necessitatibus voluptatem nesciunt nemo ea eligendi quia libero quos, eveniet dolores tempora non hic, explicabo minus. Laborum voluptas incidunt dolorem vel facere. Cumque sed, ea commodi earum veritatis itaque consequuntur perspiciatis distinctio, suscipit tenetur magni nemo iure repudiandae, rerum non minima! Voluptatibus quis voluptate facilis reiciendis reprehenderit fuga nostrum dignissimos, veritatis sit. Eum, atque, consequatur. Animi libero quos aspernatur optio doloribus tenetur exercitationem tempore obcaecati dicta voluptate aperiam nihil in, quis reprehenderit dolorum laboriosam quibusdam, voluptatum minima. Exercitationem eveniet, neque dicta autem. Voluptatibus quis voluptate facilis reiciendis reprehenderit fuga nostrum dignissimos, veritatis sit. Eum, atque, consequatur. Animi libero quos aspernatur optio doloribus tenetur exercitationem tempore obcaecati dicta voluptate aperiam nihil in, quis reprehenderit dolorum laboriosam quibusdam, voluptatum minima. Exercitationem eveniet, neque dicta autem. Voluptatibus quis voluptate facilis reiciendis reprehenderit fuga nostrum dignissimos, veritatis sit. Eum, atque, consequatur. Animi libero quos aspernatur optio doloribus tenetur exercitationem tempore obcaecati dicta voluptate aperiam nihil in, quis reprehenderit dolorum laboriosam quibusdam, voluptatum minima. Exercitationem eveniet, neque dicta autem.
      .modal-footer
        a#btn_disagree.btn_sec(href='', data-dismiss='modal', role='button') Disagree
        a#btn_agree.btn_pri(href='', data-dismiss='modal', role='button') Agree
    //- .modal-content
    //- .modal-dialog
//- .modal | .fade | #disclaimer
