#upload_files.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title Upload Images/Documents
      .modal-body
        .text-center
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#ortho_set', aria-controls='home', role='tab', data-toggle='tab') Ortho Set
            li(role='presentation')
              a(href='#panorex', aria-controls='profile', role='tab', data-toggle='tab') Panorex
            li(role='presentation')
              a(href='#lateral_cef', aria-controls='messages', role='tab', data-toggle='tab') Lateral CEF
            li(role='presentation')
              a(href='#intra_oral', aria-controls='settings', role='tab', data-toggle='tab') Intra-Oral Radiographs
            li(role='presentation')
              a(href='#misc_photos', aria-controls='settings', role='tab', data-toggle='tab') Misc Photos/Radiographs
            li(role='presentation')
              a(href='#documents', aria-controls='settings', role='tab', data-toggle='tab') Documents
          .tab-content
            #ortho_set.tab-pane.active(role='tabpanel')
              p.how_to Drag & Drop Your Document Below                             
              .row
                .col-sm-4
                  .panel
                    .panel-heading
                      | Facial Profile
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body
                      img(src="images/helper_facial_profile.png", alt="Facial profile") 
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")                
                .col-sm-4
                  .panel
                    .panel-heading
                      | Facial Front
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body
                      img(src="images/helper_facial_front.png", alt="Facial front") 
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")   
                .col-sm-4
                  .panel
                    .panel-heading
                      | Facial Front Smiling
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body
                      img(src="images/helper_facial_front_smiling.png", alt="Facial front smiling") 
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")  
              .row
                .col-sm-4
                  .panel
                    .panel-heading
                      | Occlusal Upper
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body
                      img(src="images/helper_occlusal_upper.png", alt="Occlusal upper")  
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")                
                .col-sm-4
                  .panel
                    .panel-heading
                      | Intra-oral - Teeth Apart
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body 
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")   
                .col-sm-4
                  .panel
                    .panel-heading
                      | Occlusal Lower
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body
                      img(src="images/helper_occlusal_lower.png", alt="Occlusal lower") 
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")  
              .row
                .col-sm-4
                  .panel
                    .panel-heading
                      | Intra-oral Right
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body
                      img(src="images/helper_intra_oral_right.png", alt="Intra-oral right")  
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")                
                .col-sm-4
                  .panel
                    .panel-heading
                      | Intar-oral Center
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body
                      img(src="images/helper_intra_oral_center.png", alt="Intra-oral center")   
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")   
                .col-sm-4
                  .panel
                    .panel-heading
                      | Intra-oral Left
                      i.fa.fa-info-circle(aria-hidden="true")
                    .panel-body
                      img(src="images/helper_intra_oral_left.png", alt="Intra-oral left")   
                    .panel-footer
                      span 04/04/2017
                      a(href="")
                        i.fa.fa-calendar(aria-hidden="true")  
            #panorex.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Images in the Blocks Below 
              .well
                p Panorex 
                 i.fa.fa-info-circle(aria-hidden="true")
            #lateral_cef.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Images in Respective Blocks Below 
            #intra_oral.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Image Below
            #misc_photos.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Image Below
            #documents.tab-pane(role='tabpanel')
              p.how_to Drag & Drop Your Images in Respective Blocks Below 
