#modal_your_notes.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      //- .modal-header
      .modal-body
      //- .modal-body
    //- .modal-content
  //- .modal-dialog
//- .modal | .fade | #modal_your_notes
