include pushy_navigation
header#main-header
  nav.navbar.navbar-default.push
    .container-fluid
      .navbar-header
        a.navbar-brand(href='index.html', title="MyOrthoAssist")
          img.logo(src="../images/logo.png", alt="MyOrthoAssist logo", style="width:140px;")
      #primary_menu.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='cases.html', title="Cases") Cases
          li
            a(href='', title="Resources") Resources
          li.mobile
            a.menu-btn(href='#', role='button', title="Account")
              | Account 
          li.dropdown.desktop    
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', title="Account")
              | Account 
              i.fa.fa-caret-down(aria-hidden="true")
            ul.dropdown-menu
              li
                a(href='') My Profile
              li
                a(href='') My Orthodontist
              li.divider(role='separator')
              li
                a(href='') Logout
      .navbar-icon
        a(href="", title="Steve Chang")
          img(src="../images/user_profile.png", alt="Steve Chang")     
