nav.pushy.pushy-right
  .pushy-content
    h1 Account
    ul
      li.pushy-link(class=(bodyClass === 'profile' ? 'active' : ''))
        a(href='profile.html') My Profile
      li.pushy-link(class=(bodyClass === 'orthodontist' ? 'active' : ''))
        a(href='orthodontist.html') My Orthodontist
      li.pushy-link
        a(href='') Logout
.site-overlay
