include ../_includes/navigation
main.push.container-fluid(role="main")
  .row   
    section.main-content
      .row
        header
          h1.page-title Cases
        form(role="form")   
          .row
            .form-group.new_case_button
              a.new_case.btn_out_pri(href="", data-toggle="modal", data-target="#upload_files")
                i.fa.fa-plus(aria-hidden="true")
                span New Case
            .input-group.search_cases
              input#input_search(type='text', placeholder='Search...')
              span.input-group-btn
                button.btn_sec(type='submit')
                  i.fa.fa-search(aria-hidden="true")
            .form-group.archived_cases
              input#input_archive(type="checkbox")
              label(for="input_archive") Show Archived Cases
      ul.case_list
        li.case.new
          .panel
            a(href="case.html", title="Go to Case")
              .panel-heading
                span.case_date Today, 5:32 PM
                span.case_status Status: Active
              .panel-body
                .case_patient_img     
                  img(src="../images/user_isabella.png", alt="Isabella Strong")
                .case_patient_info
                  span.case_patient_name Isabella Strong
                  span.case_patient_sex (Female)
                  span.case_patient_age 10y, 9m     
              .panel-footer
                .icon-group
                  a.btn_conversation.btn_pri.active(href="", title="Go To Conversation")
                    i.fa.fa-comments(aria-hidden="true")
                  a.btn_treatment.btn_sec(href="", title="Go To Treatment")
                    i.fa.fa-clipboard(aria-hidden="true")
                  a.btn_media.btn_sec(href="", title="Go To Media Library")
                    i.fa.fa-picture-o(aria-hidden="true")
                a.btn_archive.btn_sec(href="", title="Archive Case")
                  i.fa.fa-archive(aria-hidden="true")
        li.case.new
          .panel
            a(href="case.html", title="Go to Case")
              .panel-heading
                span.case_date 30 March
                span.case_status Status: Active
              .panel-body         
                .case_patient_img     
                  img(src="../images/user_macy.png", alt="Macy Pham")
                .case_patient_info
                  span.case_patient_name Macy Pham
                  span.case_patient_sex (Female)
                  span.case_patient_age 10y, 9m       
              .panel-footer
                .icon-group
                  a.btn_conversation.btn_sec(href="", title="Go To Conversation")
                    i.fa.fa-comments(aria-hidden="true")
                  a.btn_treatment.btn_pri.active(href="", title="Go To Treatment")
                    i.fa.fa-clipboard(aria-hidden="true")
                  a.btn_media.btn_pri.active(href="", title="Go To Media Library")
                    i.fa.fa-picture-o(aria-hidden="true")
                a.btn_archive.btn_sec(href="", title="Archive Case")
                  i.fa.fa-archive(aria-hidden="true")
        li.case.archive
          .panel
            .panel-heading
              span.case_date 2 March
              span.case_status Status: Closed (ARCHIVED)
            .panel-body         
              .case_patient_img     
                img(src="../images/user_donald.png", alt="Donald Trump")
              .case_patient_info
                span.case_patient_name Donald Trump
                span.case_patient_sex (Male)
                span.case_patient_age 69y, 0m       
            .panel-footer
              .icon-group
                a.disabled.btn_conversation.btn_sec(href="", title="Go To Conversation")
                  i.fa.fa-comments(aria-hidden="true")
                a.disabled.btn_treatment.btn_sec(href="", title="Go To Treatment")
                  i.fa.fa-clipboard(aria-hidden="true")
                a.disabled.btn_media.btn_sec(href="", title="Go To Media Library")
                  i.fa.fa-picture-o(aria-hidden="true")
              a.btn_archive.btn_sec(href="", title="Unarchive Case") Unarchive
        li.case
          .panel
            a(href="case.html", title="Go to Case")
              .panel-heading
                span.case_date 26 February
                span.case_status Status: Active
              .panel-body         
                .case_patient_img     
                  img(src="../images/user_james.png", alt="James Comey")
                .case_patient_info
                  span.case_patient_name James Comey
                  span.case_patient_sex (Male)
                  span.case_patient_age 56y, 3m        
              .panel-footer
                .icon-group
                  a.btn_conversation.btn_sec(href="", title="Go To Conversation")
                    i.fa.fa-comments(aria-hidden="true")
                  a.btn_treatment.btn_sec(href="", title="Go To Treatment")
                    i.fa.fa-clipboard(aria-hidden="true")
                  a.btn_media.btn_sec(href="", title="Go To Media Library")
                    i.fa.fa-picture-o(aria-hidden="true")
                a.btn_archive.btn_sec(href="", title="Archive Case")
                  i.fa.fa-archive(aria-hidden="true")
        li.case
          .panel
            a(href="case.html", title="Go to Case")
              .panel-heading
                span.case_date 12 February
                span.case_status Status: Active
              .panel-body         
                .case_patient_img     
                  img(src="../images/user_wolf.png", alt="Wolf Blitzer")
                .case_patient_info
                  span.case_patient_name Wolf Blitzer
                  span.case_patient_sex (Male)
                  span.case_patient_age 69y, 0m          
              .panel-footer
                .icon-group
                  a.btn_conversation.btn_sec(href="", title="Go To Conversation")
                    i.fa.fa-comments(aria-hidden="true")
                  a.btn_treatment.btn_sec(href="", title="Go To Treatment")
                    i.fa.fa-clipboard(aria-hidden="true")
                  a.btn_media.btn_sec(href="", title="Go To Media Library")
                    i.fa.fa-picture-o(aria-hidden="true")
                a.btn_archive.btn_sec(href="", title="Archive Case")
                  i.fa.fa-archive(aria-hidden="true")
    aside.sidebar
      h2 My Notes
      form(role="form")
        textarea(name="note", cols="30", rows="5", placeholder="Write a note..." required)
        button#btn_addnote.btn_pri(type="submit", role="button") Create Note
      ul.notes
        li.note
          .panel
            .panel-body
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae at odio nesciunt, deleniti possimus pariatur architecto asperiores. Omnis, molestias recusandae. Ab voluptate placeat quos eaque hic a beatae aliquam omnis.
            .panel-footer
              span.time_stamp 4 April 2016, 4:32 pm
              a.delete_note.btn_sec(href="")
                i.fa.fa-trash(aria-hidden="true")
        li.note
          .panel
            .panel-body
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae at odio nesciunt, deleniti possimus pariatur architecto asperiores. Omnis, molestias recusandae. Ab voluptate placeat quos eaque hic a beatae aliquam omnis.
            .panel-footer
              span.time_stamp 4 April 2016, 4:32 pm
              a.delete_note.btn_sec(href="")
                i.fa.fa-trash(aria-hidden="true")
        li.note
          .panel
            .panel-body
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae at odio nesciunt, deleniti possimus pariatur architecto asperiores. Omnis, molestias recusandae. Ab voluptate placeat quos eaque hic a beatae aliquam omnis.
            .panel-footer
              span.time_stamp 4 April 2016, 4:32 pm
              a.delete_note.btn_sec(href="")
                i.fa.fa-trash(aria-hidden="true")
        li.note
          .panel
            .panel-body
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae at odio nesciunt, deleniti possimus pariatur architecto asperiores. Omnis, molestias recusandae. Ab voluptate placeat quos eaque hic a beatae aliquam omnis.
            .panel-footer
              span.time_stamp 4 April 2016, 4:32 pm
              a.delete_note.btn_sec(href="")
                i.fa.fa-trash(aria-hidden="true")
        li.note
          .panel
            .panel-body
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae at odio nesciunt, deleniti possimus pariatur architecto asperiores. Omnis, molestias recusandae. Ab voluptate placeat quos eaque hic a beatae aliquam omnis.
            .panel-footer
              span.time_stamp 4 April 2016, 4:32 pm
              a.delete_note.btn_sec(href="")
                i.fa.fa-trash(aria-hidden="true")
        li.note
          .panel
            .panel-body
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae at odio nesciunt, deleniti possimus pariatur architecto asperiores. Omnis, molestias recusandae. Ab voluptate placeat quos eaque hic a beatae aliquam omnis.
            .panel-footer
              span.time_stamp 4 April 2016, 4:32 pm
              a.delete_note.btn_sec(href="")
                i.fa.fa-trash(aria-hidden="true")
    a.btn_pri.view_notes(href="")
      i.fa.fa-sticky-note(aria-hidden="true")
  .row
    include ../_includes/footer
include ../_includes/modal_disclaimer
include ../_includes/modal_upload
